@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,700;1,800&family=Nunito+Sans:wght@400;500;600;700;800&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
/* ------------Reset css------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  appearance: none;
  text-decoration: none;
  outline: 0;
  border: 0;
}
html {
  font-size: 12px;
}

:root {
  --color-white: #ffffff !important;
  --color-light: #f0eff5;
  --color-gray-light: #86848c;
  --color-gray-dark: #56555c;
  --color-dark: #27282f;
  --color-primary: rgb(71, 7, 234);
  --color-success: rgb(34, 202, 75);
  --color-danger: rgb(255, 67, 54);
  --color-warning: rgb(234, 181, 7);
  --color-purple: rgb(160, 99, 245);

  --color-primary-light: rgba(71, 7, 234, 0.2);
  --color-success-light: rgba(34, 202, 75, 0.2);
  --color-danger-light: rgba(255, 67, 45, 0.2);
  --color-purple-light: rgba(160, 99, 245, 0.2);

  --card-padding: 1.6rem;
  --padding-1: 1rem;
  --padding-2: 8px;

  --card-border-radius: 1.6rem;
  --border-radius-1: 1rem;
  --border-radius-2: 6px;
}
.dark-theme {
  --color-white: #131316;
  --color-light: #23232a;
  --color-dark: #ddd;
  --color-gray-dark: #adacb5;
}
body {
  background: var(--color-light);
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  color: var(--color-dark);
}
img {
  width: 100%;
}
h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.86rem;
  font-weight: 500;
}
h6 {
  font-size: 0.76rem;
}
p {
  font-size: 0.86rem;
  color: var(--color-gray-dark);
}
small {
  font-weight: 300;
  font-size: 0.77rem;
}
.text-muted {
  color: var(--color-gray-light);
}
.primary {
  color: var(--color-primary);
}
.success {
  color: var(--color-success);
}
.danger {
  color: var(--color-danger);
}
.warning {
  color: var(--color-warning);
}
.purple {
  color: var(--color-purple);
}

.bg-primary {
  background: var(--color-primary);
  box-shadow: 0 0.8rem 0 0.8rem var(--color-primary-light);
}
.bg-success {
  background: var(--color-success);
  box-shadow: 0 0.8rem 0 0.8rem var(--color-success-light);
}
.bg-danger {
  background: var(--color-danger);
  box-shadow: 0 0.8rem 0 0.8rem var(--color-danger-light);
}
.bg-purple {
  background: var(--color-purple);
  box-shadow: 0 0.8rem 0 0.8rem var(--color-purple-light);
}
.bg-dark {
  background: #27282f;
  box-shadow: 0 0.8rem 0 0.8rem rgba(0, 0, 0, 0.2);
}
.bg-purple-light {
  background-color: var(--color-purple-light);
}
.bg-danger-light {
  background-color: var(--color-danger-light);
}
.bg-primary-light {
  background-color: var(--color-primary-light);
}
.bg-success-light {
  background-color: var(--color-success-light);
}
/* ------------Reset css end------------- */
/* ------------------Navbar------------- */
nav {
  width: 100%;
  background: var(--color-white);
  padding: 1rem 0;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 96%;
  margin: 0 auto;
}
nav img.logo {
  width: 7rem;
}
nav .search-bar {
  background: var(--color-light);
  padding: var(--padding-2) var(--card-padding);
  width: 32vw;
  border-radius: var(--border-radius-2);
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--color-gray-light);
  position: absolute;
  left: 15%;
}
nav .search-bar span {
  cursor: pointer;
}
nav .search-bar input[type="search"] {
  color: var(--color-dark);
  background: transparent;
  width: 100%;
  border: none;
}

nav .search-bar input[type="search"]::placeholder {
  color: var(--color-gray-dark);
}
nav .profile-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}
nav .profile-area .theme-btn {
  display: flex;
  background: var(--color-light);
  width: 5rem;
  height: 2rem;
  border-radius: var(--border-radius-1);
  cursor: pointer;
}
nav .profile-area .theme-btn span {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}
nav .profile-area .theme-btn .active {
  background: var(--color-dark);
  border-radius: var(--border-radius-2);
  color: var(--color-white);
  transition: all 0.4s ease-in;
}
nav .profile-area .profile {
  display: flex;
  gap: 1rem;
  align-items: center;
}
nav .profile-area .profile-photo {
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  overflow: hidden;
}
nav .profile .profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
nav .profile h5 {
  font-weight: 500;
  font-size: 15px;
}
nav .profile-area button {
  display: none;
}
/* ---------------Navbar end------------- */
/* ---------------SideBar---------------- */
main {
  display: grid;
  grid-template-columns: 16rem auto 30rem;
  gap: 2rem;
  width: 96%;
  margin: 1rem auto 4rem;
}
main aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 88vh;
}
main aside button#close-btn {
  display: none;
}

main aside .sideBar a {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  height: 4.2rem;
  color: var(--color-gray-light);
  position: relative;
}
main aside .sideBar a span {
  font-size: 1.7rem;
  margin-left: 3rem;
  transition: all 0.2s ease-in;
}
main aside .sideBar a.active {
  background: var(--color-white);
  color: var(--color-primary);
}
main aside .sideBar a.active::before {
  content: "";
  width: 6px;
  height: 100%;
  position: absolute;
  background: var(--color-primary);
}
main aside .sideBar a:hover {
  color: var(--color-primary);
}
main aside .sideBar a:hover span {
  margin-left: 2rem;
}
main aside .sideBar h4 {
  font-weight: 500;
}
/* ---------------SideBar end---------------- */
/* --------------Updates------------ */
main aside .updates {
  background: var(--color-white);
  border-radius: var(--border-radius-1);
  text-align: center;
  padding: var(--card-padding);
}
main aside .updates span {
  font-size: 2.8rem;
}
main aside .updates h4 {
  margin: 1rem 0;
}
main aside .updates a {
  display: block;
  width: 100%;
  background: var(--color-primary);
  color: var(--color-white);
  border-radius: var(--border-radius-1);
  padding: 0.8rem 0;
  margin-top: 2rem;
  transition: all 0.3s ease;
}
main aside .updates a:hover {
  box-shadow: 0 1rem 2rem var(--color-primary-light);
}
/* ------------------Middle---------------- */
main section.middle .header {
  display: flex;
  align-items: center;
  gap: 1rem;
}
main section.middle .header input[type="date"] {
  padding: 0.5rem 2rem;
  border-radius: var(--border-radius-2);
  background: var(--color-white);
  color: var(--color-gray-dark);
}
main section.middle .cards {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
main section.middle .cards .card {
  background: linear-gradient(#ff796f, #bd261b);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  color: #ffffff;
  height: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2rem 2rem var(--color-danger-light);
  transition: all 0.3s ease;
  min-width: 23rem;
}
main section.middle .cards .card:nth-child(2) {
  background: linear-gradient(#7f8191, #27282f);
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2);
}

main section.middle .cards .card:nth-child(3) {
  background: linear-gradient(#5d70ff, #5719c2);
  box-shadow: 0 2rem 3rem var(--color-primary-light);
}
main section.middle .cards .card:hover {
  box-shadow: none;
}
main section.middle .card .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main section.middle .card .top .left {
  display: flex;
  gap: 0.5rem;
}

main section.middle .card .top .left h2 {
  font-weight: 200;
  font-size: 1.4rem;
}

main section.middle .card .top .left img {
  width: 2.3rem;
  height: 2.3rem;
  border: 1px solid var(--color-white);
  border-radius: var(--border-radius-2);
  padding: 0.4rem;
}
main section.middle .card .top img.right {
  width: 3.5rem;
}
main section.middle .card .middle {
  display: flex;
  justify-content: space-between;
}
main section.middle .card .middle .chip {
  width: 3.5rem;
}
main section.middle .card .bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
main section.middle .card .bottom .right {
  display: flex;
  gap: 2rem;
}
/* ------------------Middle end---------------- */
/* ------------------Reports---------------- */
main .monthly-report {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-content: space-between;
  margin: 2rem 0;
}

main .fast-payment .badges {
  display: flex;
  gap: 1rem;
  align-self: center;
  flex-wrap: wrap;
}
main .fast-payment h2 {
  margin-bottom: 10px;
}
main .fast-payment .badge span {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  box-shadow: none;
}
main .fast-payment .badge {
  padding: 0.6rem var(--card-padding);
  background: var(--color-white);
  border-radius: var(--border-radius-1);
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: 0.3s ease-in-out;
}
main .fast-payment .badge:first-child span {
  display: flex;
  align-self: center;
  justify-content: center;
  height: fit-content;
  font-size: 1.5rem;
}
main .fast-payment .badge div {
  display: flex;
  gap: 2rem;
  align-self: center;
}
main .fast-payment .badge:hover {
  box-shadow: 0 0 1.5rem var(--color-primary-light);
}
/* ------------------Reports end---------------- */
/* ------------------Canvas Chart---------------- */
canvas#chart {
  background: var(--color-white);
  max-width: 100%;
  margin-top: 2rem;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
}
/* ------------------Canvas Chart end---------------- */
/* --------------------Investments---------------- */
main section.right .investments {
  background: var(--color-white);
  border-radius: var(--border-radius-1);
}
main section.right .investments img {
  width: 2.4rem;
}
main section.right .investments .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0;
  padding: var(--card-padding);
}
main section.right .investments .header a {
  display: flex;
  align-items: center;
}
main section.right .investments .investment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--card-padding);
  border-bottom: 1px solid var(--color-light);
  transition: all 0.3s ease-in;
}
main section.right .investments .investment:last-child {
  border: none;
}
main section.right .investments .investment:hover {
  background: var(--color-light);
}
/* --------------------Investments end---------------- */
/* ----------------Recent-transactions------------- */
main .recent-transactions {
  margin-top: 2rem;
}
main .recent-transactions img {
  width: 2.2rem;
}
main .recent-transactions .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
main .recent-transactions .header a {
  display: flex;
  align-items: center;
  color: var(--color-primary);
}
main .recent-transactions .transaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem var(--card-padding);
  border-radius: var(--card-border-radius);
  transition: all 0.3s ease-in;
}
main .recent-transactions .transaction:hover {
  cursor: pointer;
  background: var(--color-white);
}
main .recent-transactions .transaction .service {
  display: flex;
  gap: 1rem;
}
main .recent-transactions .transaction .service .icon {
  padding: var(--padding-2);
  border-radius: var(--border-radius-2);
  display: flex;
  align-items: center;
}
main .recent-transactions .card-details {
  display: flex;
  align-items: center;
  gap: 1rem;
}
main .recent-transactions .card-details .card {
  display: flex;
  width: 4.6rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-2);
  box-shadow: none;
}
/* ----------------Recent-transactions end------------- */
/* ----------------Responsive design------------- */
@media only screen and (max-width: 1024px) {
  nav .search-bar {
    display: none;
  }
  nav .profile-area {
    gap: 2rem;
  }
  nav .profile-area button#menu-btn {
    display: inline;
    background: transparent;
    color: var(--color-dark);
  }
  main {
    grid-template-columns: 1fr;
  }
  main aside {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10;
    background: var(--color-white);
    width: 22rem;
    height: 100vh;
    box-shadow: 2rem 0 2rem var(--color-primary-light);
    display: none;
    animation: showSidebar 0.5s ease-in-out forwards;
  }
  main aside button#close-btn {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 11;
    background: transparent;
    color: var(--color-dark);
  }
  @keyframes showSidebar {
    to {
      left: 0;
    }
  }
  button:hover {
    cursor: pointer;
  }
  main aside .sideBar {
    margin-top: 4rem;
  }
  main aside .updates {
    display: none;
  }
  main section.middle .cards {
    grid-template-columns: 1fr 1fr;
  }
  main canvas {
    margin: 3rem 0 1rem;
  }
  main section.right .recent-transactions {
    margin-top: 3rem;
  }
}
@media screen and (max-width: 600px) {
  nav .profile-area {
    gap: 2.6rem;
  }
  nav .profile h5,
  nav .profile span {
    display: none;
  }
  main section.middle .cards {
    grid-template-columns: 1fr;
  }
  main section.middle .fast-payment {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3rem;
    gap: 1.4rem;
  }
}
